/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/

/*****************************************************
*Change FONT for the WHOLE page
*****************************************************/
* {
	font-family: ocr-a-std, monospace;
}

/****************************************************
*Header settings
*****************************************************/

/*Set header colors and font*/
header {
	background-color: #333333;
	color: #00FF00;
	margin-bottom: 2em;
}

/*make header and tagline display as inline-block so they will be side by side */
header div h1 {
	display: inline-block;
	font-size: large;
	padding-left: 2em;
	padding-right: .5em;
}

/*Tag line settings*/
header div em {
	display: inline-block;
	font-size: x-small;
}

/*Welcome image */
img[src*="welcome"] {
	width: 300px;
	display: block;
	margin: 0 auto;
}

/****************************************************
*Instructions settings
*****************************************************/

/*Set black border and margin for Instructions*/
.instructions-wrapper {
	border: .3em solid black;
	margin: 2em 4em;
}

/*Instructions - header & list*/
.instructions-content {
	display: inline-block;
	width: 50%;
	padding-right: 18%;
	padding-left: 1em;
}

/*instructions header*/
.instructions-content > h2 {
	font-size: small;
}

/*instructions list*/
ol {
	font-size: xx-small;
	padding-left: 1.7em;
}

/*instructions image*/
img[src*="janeway"] {
	display: inline-block;
	width: 130px;
	justify-content: end;
}

/****************************************************
*About Me (A Day in the Life...) settings
*****************************************************/
/* About Me - Whole Section*/
.about-me {
	background-color: #0000FF;
	color: #FFFFFF;
}

/*image*/
img[src*="stunning"] {
	border: .2em solid white;
	width: 140px;
	float: left;
	margin: 1.5em .5em 1.5em 4em;
}

/*A day in the life*/
.about-me > div > h2 {
	font-size: small;
	padding: 1.5em 0em 0em 0em;

}
/*	About me body text*/
.about-me > div > p {
	font-size: xx-small;
	padding-right: 6em;
}

/*yellow span*/
.about-me > div > p > span {
	font-style: italic;
	color: #FFFF27;
	font-weight: bold;
}


/****************************************************
*Professional Skills settings
*****************************************************/

/*Header*/
.about-me + section > div > h2{
	text-align: end;
	font-size: small;
	padding-right: 6em;
}

table {
	background-color: #333333;
	color: #00FF00;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	padding-right: 6em;
}

tr th:nth-child(1) {
	width: 20%;
}

tr th:nth-child(2) {
	width: 30%;
}

tr th:nth-child(3) {
	width: 50%;
}

tr >th {
	font-weight: bold;
	border-width: thin;
	border-color: white;
}

tr > td {
	font-weight: normal;
	border-width: thin;
	border-color: white;
}

/*****************************************************
*Contact Form settings
*****************************************************/



/*****************************************************
*Footer settings
*****************************************************/
footer {
	background-color: black;
	color: white;
	text-align: center;
	font-size: small;
}

